*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}


header{
    text-align: center;
    width: 100vw;
    height: 98vh;
    background-color: white;
    transition: 1.5 linear;
}

.nav{
    padding-bottom: 31.92px;
    padding-top: 32.99px;
    transition: 1.5 linear;
}


.nav-menu{
    border: 2px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 31.92px;
    justify-content: space-around;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav-menu a{
    border: 5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: #828282;
    text-decoration: none;
    font-size: 25px;
    transition: 1.5 linear;
}

.nav-menu a:hover{
    border-bottom: 5px solid gray;
    transition: 1.5 linear;
    color: black;
}
a{
    transition: .2s linear;
}

.head{
    margin-top: 50px;
    width: 80vw;
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.head h1{
    width: 170px;
    margin-top: 39.69px;
    font-family: 'Bebas Neue', cursive;
    font-size: 47.3392px;
}

.head h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    line-height: 22px;
    width: 155.65px;
    margin-top: 92px;
}

.head p{
    font-family: 'Bebas Neue', cursive; 
    margin-top: 69.5px;
    font-size: 16px;
    line-height: 20px;
    transform: rotate(-90deg);
}

.head-img{
    width: 100vw;
    height: 387px;
    text-align: center;
    margin-top: 100px;
}

.img1{
    width: 60vw;
}

.about{
    font-family: 'Bebas Neue', cursive;
    width: 100vw;
    background: #F6F6F6;
    padding-top: 120px;
    text-align: center;
    align-items: center;
}

.about p{
    font-size: 25px;
    width: 485px;
    margin-right: auto;
    margin-left: auto;
    line-height: 22px;
    text-align: center;
}

.skills{
    margin-bottom: 105px;
}

.skil_text{
    padding-top: 25px;
    font-family: 'Bebas Neue', cursive;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    width: 100vw;
    text-align: center;
    background-color: white;
}

.skil{
    display: flex;
    justify-content: space-around;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87.27px;
    background-color: white;
}

.skil img{
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}



.photoshop{
    text-align: center;
    width: 166.66px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.photoshop p{
    margin-top: 25px;
}

.star img{
    margin-top: 25px;
    background: none;
}

.photoshop1 img{
    background: none;
}

.photoshop1{
    background: none;
    text-align: center;
    width: 166.66px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.photoshop1 p{
    margin-top: 25px;
}

.portfolio{
    padding-top: 112px;
    margin-top: 25px;
    background: #F6F6F6;
    width: 100vw;
    text-align: center;
}

.portfolio h1{
    text-align: center;
}

.portfolio_img{
    margin-top: 99px;
    margin-bottom: 49px;
}

.portfolio_img a{
    color: black;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.portfolio a:hover{
    color: dimgray;
}

.portfolio{
    border: .8px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

footer{
    padding-top: 114px;
    background-color: white;
    width: 100wv;
    text-align: center;
    font-size: 20px;
}

footer button{
    font-size: 20px;
    border: none;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 44px;
    border-radius: 50px;
    color: white;
    background-color: black;
    transition: .2s linear;
}
footer button:hover{
    color: black;
    background-color: White;
    border: 2px solid black;
    transition: .2s linear;
}

.icon{
    margin-top: 86px;
}

.icon img{
    margin-right: 25px;
}



















